.product {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    position: relative;
}

.cart-btn {
    padding: 10px;
    width: 281px;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}

.cart-btn:hover {
    background-color: orange;
    color: #1C8D73;
}