.review-item {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
}

.order-info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dlt-icon {
    background-color: rgba(235, 87, 87, 0.3);
    padding: 5px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.delete-btn {
    color: rgba(235, 87, 87, 1);
    font-size: 27px;
    display: flex;
    align-items: center;
}